<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd ">

  <context:property-placeholder location="classpath:core22/db.properties"/>

  <context:component-scan base-package="com.demo.spring.core.tx.propagation"/>

  <tx:annotation-driven proxy-target-class="true"/>

  <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
        destroy-method="close">
    <property name="url"
              value="${mysql.url:jdbc:mysql://127.0.0.1:3306}/spring?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;"/>
    <property name="username" value="${mysql.username:root}"/>
    <property name="password" value="${mysql.password:123456}"/>
  </bean>


</beans>