<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="hello01Dao" class="com.demo.spring.core05.Hello01Dao"/>
  <bean id="hello02Dao" class="com.demo.spring.core05.Hello02Dao"/>

  <!--可以乱序, 默认根据类型匹配-->
  <bean id="helloService" class="com.demo.spring.core05.HelloService">
    <constructor-arg ref="hello02Dao"/>
    <constructor-arg ref="hello01Dao"/>
  </bean>

  <!--存在歧义, 需要借助其余说明, 如name或index, 如无说明则按xml顺序匹配-->
  <bean id="user01Bean" class="com.demo.spring.core05.UserBean">
    <constructor-arg name="age" value="42"/>
    <constructor-arg name="name" value="foo"/>
  </bean>
  <bean id="user02Bean" class="com.demo.spring.core05.UserBean">
    <constructor-arg index="1" value="42"/>
    <constructor-arg index="0" value="foo"/>
  </bean>
</beans>