<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="complexBean" class="com.demo.spring.core.di.collections.ComplexBean">
        <!-- results in a setAdminEmails(java.util.Properties) call -->
        <property name="properties">
            <props>
                <prop key="administrator">administrator@example.org</prop>
                <prop key="support">support@example.org</prop>
                <prop key="development">development@example.org</prop>
            </props>
        </property>
        <!-- results in a setSomeList(java.util.List) call -->
        <property name="list">
            <list>
                <value>a list element followed by a reference</value>
            </list>
        </property>
        <!-- results in a setSomeMap(java.util.Map) call -->
        <property name="map">
            <map>
                <entry key="an entry" value="just some string"/>
            </map>
        </property>
        <!-- results in a setSomeSet(java.util.Set) call -->
        <property name="set">
            <set>
                <value>just some string</value>
            </set>
        </property>
    </bean>

</beans>