<?xml version="1.0" encoding="UTF-8"?>

<!--由于Spring的p标签和ｃ标签是spring内置的,只要在xml头部申明下就可以调用-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="user1" class="com.demo.spring.core09.UserBean" p:name="name1" p:age="20"/>

  <bean id="user2" class="com.demo.spring.core09.UserBean" c:name="name2" c:age="21"/>

</beans>