<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

  <context:annotation-config/>

  <bean id="auditService" class="com.demo.spring.core14.AuditService"/>

  <bean id="payService" class="com.demo.spring.core14.PayService"/>

  <bean id="addressService1" class="com.demo.spring.core14.AddressService" primary="true"/>

  <bean id="addressService2" class="com.demo.spring.core14.AddressService"/>

  <bean id="shipService1" class="com.demo.spring.core14.ShipService">
    <qualifier value="primary"/>
  </bean>

  <bean id="shipService2" class="com.demo.spring.core14.ShipService"/>

  <bean id="orderService" class="com.demo.spring.core14.OrderService">
    <property name="payService" ref="payService"/>
  </bean>

</beans>