<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan base-package="com.demo.spring.core13"/>

  <bean id="hello1" class="com.demo.spring.core13.Hello01Bean"/>

  <!--初始化及销毁方法生命可省略-->
  <bean id="hello2" class="com.demo.spring.core13.Hello02Bean"/>

  <bean id="hello3" class="com.demo.spring.core13.Hello03Bean"/>

  <bean class="com.demo.spring.core13.ContextAwareBean"/>

  <bean id="nickNameBean" class="com.demo.spring.core13.BeanNameAwareBean"/>

</beans>