<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userBean" class="com.demo.spring.core06.UserBean">
        <property name="name"  value="foo"/>
        <property name="age" value="42"/>
    </bean>

    <bean id="helloDao" class="com.demo.spring.core06.HelloDao"/>

    <bean id="helloService" class="com.demo.spring.core06.HelloService">
        <property name="helloDao" ref="helloDao"/>
    </bean>

</beans>